@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins-extrabold";
    src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "poppins-semibold";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "poppins-regular";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "poppins-medium";
    src: url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "poppins-thin";
    src: url("./fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-neutral-900 text-neutral-100 overflow-x-hidden
    }
}

@layer components {
    .center-mode {
        @apply flex items-center justify-center
    }
    .input {
        @apply w-full h-[60px] outline-none px-3 rounded-lg bg-neutral-800 border border-neutral-700 focus:border-orange-700 transition placeholder:text-neutral-500
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #171717;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
}